<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='html5reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <title>Book && Movie</title>
    </head>

    <body class="home_background parallax">
    <h1>Book && Movie</h1>
        <main>
            <div class="options">
                <form action="/index" method="POST">
                    <div class="sort_by">
                        Sort By:
                        <input type="radio" name="sortby" value="type"/> Type
                        <input type="radio" name="sortby" value="title"/> Title
                        <input type="radio" name="sortby" value="author"/> Author
                        <input type="radio" name="sortby" value="status"/> Bechdel Status
                    </div>

                    <div class="sort_order">
                        Sort Order:
                        <input type="radio" name="sortorder" value="asc"/> Ascending
                        <input type="radio" name="sortorder" value="desc"/> Descending
                        <br/>
                    </div>
                    <div class="sort_button">
                       <input id="update_button" type="submit" name="update" value="Update"/>
                        <br/>
                    </div>
                </form>
            </div>

            <table>
              <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Summary</th>
                <th>Rating</th>
                <th>Genres</th>
                <th>Bechdel Status</th>
              </tr>
              {% for list in media_list %}
                {% if list[0] == "movie" %}
                    <tr class="row movie">
                {% endif %}
                {% if list[0] == "book" %}
                    <tr class="row book">
                {% endif %}
                {% for item in list %}
                        <td class="item">{{item}}</td>
                {% endfor %}
                </tr>
              {% endfor %}
            </table>
        </main>
        <footer>
            <p>Mariah Jacobs - 2019</p>
        </footer>
	</body>
</html>